{% extends 'base.html' %}
{% block title %}Lunch | {% endblock title %}
{% block body %}
<style>
body {
  background-image: url('/static/lunch.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
</style>
<div class="container my-4">
<table class="table" style="color: white;font-weight: bold;">
  <thead>
    <tr>
      <th scope="col">item no.</th>
      <th scope="col">NAME</th>
      <th scope="col">PRICE</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Kadhai paneer</td>
      <td>120</td>
      
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>soyachap</td>
      <td>120</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Butter Roti</td>
      <td>10</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Manchuriyan</td>
      <td>150</td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Biryani</td>
      <td>170</td>

    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Fried rice</td>
      <td>70</td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Mushroom Paneer</td>
      <td>150</td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>Mutter Paneer</td>
      <td>150</td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>Malai Kofta</td>
      <td>160</td>
    </tr>
    <tr>
      <th scope="row">10</th>
      <td>chicken</td>
      <td>200</td>
    </tr>
  </tbody>
</table>
</div>
{% endblock body %}