{% extends 'base.html' %}
{% block title %}menu | {% endblock title %}
{% block body %}
<div class="album py-1">
    <div class="container my-2">
        <h1 class='my-4' style='text-align: center;color: black;
    font-family: unset;'>MENU: Finger Licking Good</h1>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3 py-2">
            <div class="col">
                <div class="card shadow-sm">
                    <img src="/static/burger1.jpg" width="100" height="300" class="d-block w-100" alt="...">

                    <div class="card-body my-0">
                        <h2>Burger</h2>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
                            </div>
                            <small class="text-muted">Rs.60</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="/static/colddrink.jpg" width="100" height="300" class="d-block w-100" alt="...">

                    <div class="card-body">
                        <h2>Cold Drink</h2>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
                            </div>
                            <small class="text-muted">Rs.60</small>
                        </div>
                    </div>
                </div>
            </div>
            <div clsass="col">
                <div class="card shadow-sm">
                    <img src="/static/icecream1.jpg" width="100" height="300" class="d-block w-100" alt="...">

                    <div class="card-body">
                        <h2>Icecream</h2>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
                            </div>
                            <small class="text-muted">Rs.50</small>
                        </div>
                    </div>
                </div>
            </div>



            <div class="col">
                <div class="card shadow-sm">
                    <img src="/static/malai-kofta.jpg" width="100" height="300" class="d-block w-100" alt="...">
                    <div class="card-body">
                        <h2>Malai-kofta</h2>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
                            </div>
                            <small class="text-muted">Rs.150</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="/static/pizza.webp" width="100" height="300" class="d-block w-100" alt="...">

                    <div class="card-body">
                        <h2>Pizza</h2>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
                            </div>
                            <small class="text-muted">Rs.150</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="/static/momos.jpg" width="100" height="300" class="d-block w-100" alt="...">

                    <div class="card-body">
                        <h2>Momos</h2>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
                            </div>
                            <small class="text-muted">Rs.60</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="/static/Rasmalai.jpg" width="100" height="300" class="d-block w-100" alt="...">

                    <div class="card-body">
                        <h2>Rasmalai</h2>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
                            </div>
                            <small class="text-muted">Rs.50</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="/static/soyachap.jpg" width="100" height="300" class="d-block w-100" alt="...">

                    <div class="card-body">
                        <h2>Soyachap</h2>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
                            </div>
                            <small class="text-muted">Rs.120</small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card shadow-sm">
                    <img src="/static/roti.jpg" width="100" height="300" class="d-block w-100" alt="...">
                    <div class="card-body">
                        <h2>Roti</h2>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                <button type="button" class="btn btn-sm btn-outline-secondary">Order</button>
                            </div>
                            <small class="text-muted">Rs.10</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock body %}